@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,400&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body{
    display: grid;
    justify-content: center;
    align-items: center;
    background-color:#65738d;
}

.container{
    top: 300px;
    left: 5%;
    position: relative;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 250px;
    text-align: center;
    border: 6px solid #9598a5;
    background: #ffffff;
    border-radius: 2em;
    background-color: white;
    box-shadow: 0px 1px 5px #e4e7ec;
    height: 520px;
}

.keypad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(60px, auto);
}

input[type="text"]{
    height: 150px;
    width: 235px;
    background-color: #ffff;
    border: 0px;
    color: #262834;
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: -10px;
}

#clear{
    grid-column: 1/3;
    grid-row: 1;
    color: #000000;
}

#result{
    grid-column: 3/5;
    grid-row: 5;
}

#backspace{
    color: #000000;
}

button{
    margin: 0 5px 10px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #a2a4b4;
    color: rgb(0, 0, 0);
}

input:focus,
input:active,
button:focus,
button:active{
    outline: none;
}

.highlight{
    background: #56cbdb;
    color: #000000;
}

.label{
    color: #ffff;
    text-align: left;
}

.toggle-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .toggle-slot {
    height: 0;
    width: 0;
  }

  .toggle-slot1 {
    position: relative;
    height: 2em;
    width: 4em;
    border: 5px solid #e4e7ec;
    border-radius: 10em;
    background-color: white;
    box-shadow: 0px 1px 5px #e4e7ec;
    transition: background-color 250ms;
    margin: 50px 0 10px 145px;
    margin-top: 20px;
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-slot1{
    background-color: #374151;
  }
  
  .toggle-button {
    transform: translate(11.75em, 1.75em);
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: #ffeccf;
    margin: -495px 0 0 -145px;  
    box-shadow: inset 0px 0px 0px 0.1em #ffbb52;
    transition: background-color 250ms, border-color 250ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
    background-color: #485367;
    box-shadow: inset 0px 0px 0px 0.75em white;
    transform: translate(1.75em, 1.75em);
    margin: -495px 0 0 0;
    box-shadow: inset 0px 0px 0px 0.1em white;  
  }

  .toggle-checkbox:checked ~ .toggle-slot .container {
    background-color: #485367;
  }

  .toggle-checkbox:checked ~ .toggle-slot .input-text{
    background-color: #262834;
    color: white;
  }
  
  .sun {
    position: absolute;
    height: 1.5em;
    width: 1.5em;
    margin: -469px 0 0 -145px;  
  }
  
  .sun-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 1;
    transform: translate(2em, 2em) rotate(15deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
    opacity: 0;
    transform: translate(3em, 2em) rotate(0deg);
  }
  
  .moon-icon {
    position: absolute;
    height: 5em;
    width: 1.5em;
    margin: -562px 0 0 -3px;  
  }
  
  .moon-icon-wrapper {
    position: absolute;
    height: 6em;
    width: 6em;
    opacity: 0;
    transform: translate(11em, 2em) rotate(0deg);
    transform-origin: 50% 50%;
    transition: opacity 150ms, transform 500ms cubic-bezier(.26,2.5,.46,.71);
  }
  
  .toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
    opacity: 1;
    transform: translate(12em, 2em) rotate(-15deg);
  }

  .toggle-checkbox:checked ~ .toggle-slot .container {
      background-color: #262834;
  }    


  @media only screen and (max-width: 600px) {
    .container {
      top: 300px;
      left: 50px;
      height: 520px;
    }
    .toggle-button {
        position: absolute;
        margin: -495px 0 0 -95px;
    }
    .sun{
        margin: -480px 0 0 -95px;  
    }
    .moon-icon{
        margin: -550px 0 0 45px;  
    }
    .toggle-checkbox:checked ~ .toggle-slot .toggle-button {
        margin: -495px 0 0 50px;  
    }      
  }